PORT=8085
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/telemedicine-service?retryWrites=true&w=majority&appName=Cluster0
JITSI_BASE_URL=https://meet.jit.si
AGORA_WEB_CLIENT_URL=https://webdemo.agora.io/basicVideoCall/index.html
TWILIO_ROOM_APP_BASE_URL=https://video.twilio.com
