PORT=3001
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.conhd4o.mongodb.net/medicare_auth_db?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here
# Generate with: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
